kedro>=0.19.5
kedro-datasets[pandas-csvdataset,pandas-parquetdataset,pandas-exceldataset,plotly-plotlydataset,plotly-JSONDataset,matplotlib-matplotlibwriter]>=3.0
kedro-mlflow>=0.13.0
mlflow>=2.10.0
sentence-transformers
txtai
fastapi
uvicorn[standard]
scikit-learn
pandas
numpy
transformers
pyyaml
requests
ollama
einops
kedro-boot>=0.3.0
